{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "a87d0643e557f20fc30acbd3fc4c8626ec1ea0c4" #_"811c5262ce80546f3d7b3b06ca0b96f954391489"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main cljstream.timer.main}}
